<ion-header>
  <ion-toolbar style="border-bottom: 3px solid red;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../../assets/images/logo.png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div #fixFocus></div>
  <div *ngFor="let num of numbers">
    <app-common-card name={{names[num]}} description={{descriptions[num]}}></app-common-card>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" (click)="gotoTop()">
    <ion-fab-button>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer no-border>
  <img class="footer-image" src="../../../assets/images/footer.png" alt="w360-footer">
</ion-footer>