<ion-content fullscreen="true" style="--background: linear-gradient(white 20%, rgb(44,44,85) 60%);">

  <div #loginPage class="mainWrapper">
    <div class="logoContainer">
      <img style="width: 36%;" src="../../../assets/images/logo.png" alt="W360">
    </div>

    <div style="margin: 0 16%;">
      <ion-button class="btnLogin" [routerLink]="['/phone-verify']">
        Login With Phone
      </ion-button>
    </div>

    <div style="margin: 0 16%;">
      <ion-button class="btnLogin" [routerLink]="['/home']">
        Skip
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <img class="footer-image" src="../../../assets/images/footer.png" alt="w360-footer">
</ion-footer>