.btnLogin{
    --background:midnightblue;
    width: 100%;
    height: 50px;
    --border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

.mainWrapper{
    width: 100%;
    margin-top: 30%;
    text-align-last: center;
}

.logoContainer{
    margin: 10px 0px 30px 0px;
}