.topic{
    border-bottom: 2px solid;
}

ion-card{
    color: white;
    padding: 10px;
    --background: linear-gradient(to top, white 35%, rgb(44,44,85) 60%);
}

.image-wrapper{
    text-align: center;
}

img{
    width: 80%;
}