<ion-header>
  <ion-toolbar style="border-bottom: 3px solid red;">
    <ion-title>      
      <img src="../../../assets/images/logo.png" style="width: 33%; margin-left: 25%;">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="main-div">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="../../../assets/images/slider1.jpg" style="background: white;" alt="W360">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/slider2.jpg" style="background: white;" alt="W360">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/slider3.jpg" style="background: white;" alt="W360">
      </ion-slide>
    </ion-slides>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae tempore corporis quidem alias fuga. Facilis, earum cumque voluptates, doloremque atque iste explicabo mollitia asperiores ullam eius, dolores fugit consequuntur. In!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae tempore corporis quidem alias fuga. Facilis, earum cumque voluptates, doloremque atque iste explicabo mollitia asperiores ullam eius, dolores fugit consequuntur. In!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae tempore corporis quidem alias fuga. Facilis, earum cumque voluptates, doloremque atque iste explicabo mollitia asperiores ullam eius, dolores fugit consequuntur. In!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae tempore corporis quidem alias fuga. Facilis, earum cumque voluptates, doloremque atque iste explicabo mollitia asperiores ullam eius, dolores fugit consequuntur. In!</p>
  </div>
</ion-content>

<ion-footer no-border>
  <img class="footer-image" src="../../../assets/images/footer.png" alt="w360-footer">
</ion-footer>