<ion-header>
  <ion-toolbar style="border-bottom: 3px solid red;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../../assets/images/logo.png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <form [formGroup]="signup" (ngSubmit)="submitDetails()">
    <div class="main-div">
      <div class="input-header">
        <ion-label>Enter your name</ion-label>
      </div>
      <div>
        <ion-item class="input-style">
          <ion-input placeholder="Enter your name here" type="text" formControlName="name"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message"
              *ngIf="signup.get('name').hasError(validation.type) && (signup.get('name').dirty || signup.get('name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="input-header">
        <ion-label>Mobile number</ion-label>
      </div>
      <div>
        <ion-item class="input-style">
          <ion-input type="tel" maxlength="10" minlength="10" placeholder="07X XX XX XXX" formControlName="mobile">
          </ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.mobile">
            <div class="error-message"
              *ngIf="signup.get('mobile').hasError(validation.type) && (signup.get('mobile').dirty || signup.get('mobile').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="input-header">
        <ion-label>Email address</ion-label>
      </div>
      <div>
        <ion-item class="input-style">
          <ion-input placeholder="Enter your e-mail here" type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="signup.get('email').hasError(validation.type) && (signup.get('email').dirty || signup.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div style="margin-top: 50px; text-align: center;">
      <ion-button type="submit" [disabled]="!signup.valid" class="btnNavigate" style="margin-right: 40px;">Submit
      </ion-button>
      <ion-button class="btnNavigate" [routerLink]="['/login']">Back</ion-button>
    </div>

  </form>
</ion-content>

<ion-footer no-border>
  <img class="footer-image" src="../../../assets/images/footer.png" alt="w360-footer">
</ion-footer>